@charset "utf-8";
/* CSS Document */

/* 淘宝的样式初始化 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font-size: 12px; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:underline; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }

/* 表格 */
table { font-size: 12px; border-collapse:collapse; border-spacing:0; }
th { padding: 5px 8px; color: #efefef; font-weight: 700; }
tr { background: yellow; text-align: center; }
td { font-size: 16px; color: #fff; font-weight: 900; }
.currentDay { color: red; background: #fff; }
.hoverDay { color: #317ac4; background: darkgray; }
.oddRow { background: lightgray; }
.evenRow { background: #cdb400; }
.headercells { background: grey; }
.holiday { background: rgba(241, 255, 120, 0.53); }
#trDate span { border: 1px solid darkgray; padding: 2px 5px; }
#trDate span:nth-child(3) { display: inline-block; width: 107px; height: 14px; }

/* 表单 */
input:focus {
    -webkit-box-shadow: 0 0 10px #ff920f;
}
input[type="radio"] + span {
    width: 100px;
    transition: width 0.8s ease-in;
}
input[type="radio"]:checked + span {
    width: 200px;
}

/* 按钮 */
.trBtn {
    display: block;
    width: 144px;
    height: 48px;
    line-height: 48px;
    margin: 3em auto;
    text-align: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border-radius: 12px;
    box-shadow: 0 0px 1px 2px rgba(0, 0, 0, 0.2);
}

/* 大小 */
.large { width: 108px; height: 38px; }
.middle { width: 88px; height: 30px; }
.small { width: 72px; height: 24px; }

/* 颜色 */
.primary {}
.normal {}
.warn {}
.info {}
.error {}

/* 模态窗口 */
.trPopup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(144,144,144,0.2);
    opacity: 0.2;
    visibility: hidden;
    transition: opacity 0.3s 0s, visibility 0s 0.3s;
}
.trPopupContainer {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 128px auto;
    background: #FFF;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-40px);
}
.trPopupContainer .trPopupClose {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
}
.trPopupContainer .trPopupClose::before, .trPopupContainer .trPopupClose::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: red;
}
.trPopupContainerr .trPopupClose::before {
    transform: rotate(45deg);
    left: 8px;
}
.trPopupContainer .trPopupClose::after {
    transform: rotate(-45deg);
    right: 8px;
}